@model CommonLayer.Model.DoctorModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "AddDoctor";
}

@*<h1>AddDoctor</h1>

<h4>DoctorModel</h4>
<hr />*@
@*<h4 class="header">Welcome to Health Care Hospital</h4>*@

<h5 class="header">Update Doctor Profile</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
  @*              <label asp-for="UserID" class="control-label"></label>*@
                <input asp-for="UserID" type="hidden" class="form-control" value=@Context.Session.GetInt32("UserID") readonly />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Doctor_id" class="control-label"></label>
                <input asp-for="Doctor_id" class="form-control" />
                <span asp-validation-for="Doctor_id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Profile" class="control-label"></label>
                <input asp-for="Profile" class="form-control" />
                <span asp-validation-for="Profile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job_specification" class="control-label"></label>
                <input asp-for="Job_specification" class="form-control" />
                <span asp-validation-for="Job_specification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience_year" class="control-label"></label>
                <input asp-for="Experience_year" class="form-control" />
                <span asp-validation-for="Experience_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_number" class="control-label"></label>
                <input asp-for="Contact_number" class="form-control" />
                <span asp-validation-for="Contact_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor_fee" class="control-label"></label>
                <input asp-for="Doctor_fee" class="form-control" />
                <span asp-validation-for="Doctor_fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trash" class="control-label"></label>
                <input asp-for="Trash" class="form-control" />
                <span asp-validation-for="Trash" class="text-danger"></span>
            </div>
            <div class="button">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
