@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Doctor";
}

<div class="dmain">
 
    <div>
        <h3 class="header">Welcome to Health Care Hospital</h3>
   
    </div>
    <div class="Plinks">
        <a asp-area="" asp-controller="Doctor" asp-action="AddDoctor">AddDoctor</a>

        <a asp-area="" asp-controller="Doctor" asp-action="Details">Details</a>

    </div>

</div>
