@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Doctor";
}

<div class="dmain">
 
    <div>
        <h3 class="header">Welcome to Health Care Hospital</h3>
   
    </div>
    <br />
    <div class="Plinks">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("AddDoctor", "Doctor")'" >Profile</button>

        <button class="btn btn-primary" onclick="location.href='@Url.Action("Details", "Doctor")'" >Details</button>

    </div>

</div>
