
@{
    ViewData["Title"] = "Patient";
}

<div class="dmain">
    <div class="header">
        <h3>Welcome to Health Care Hospital</h3>
    </div>
    <br />
    <div class="Plinks">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("AddPatient", "Patient")'" >Profile</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Details", "Patient")'">Details</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("GetDoctors", "Doctor")'">Doctors</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("APDetailsByID", "Patient")'">Appointment Details</button>
@*        <a asp-area="" asp-controller="Patient" asp-action="Details"> Patient Details</a>
        <a asp-area="" asp-controller="Doctor" asp-action="GetDoctors">All Doctors Details</a>
        <a asp-area="" asp-controller="Patient" asp-action="APDetailsByID">Appointment Details</a>*@

    </div>

</div>

