@model CommonLayer.Model.GetUser

@{
    ViewData["Title"] = "Edit";
}

@*<h4 class="header">Welcome to Health Care Hospital</h4>*@

<h5 class="header">Edit User Details</h5>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="UserID" class="control-label"></label>*@
                <input asp-for="UserID" class="form-control" readonly />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
              @*  <label asp-for="Role_Id" class="control-label"></label>*@
                <input asp-for="Role_Id" class="form-control" readonly/>
                <span asp-validation-for="Role_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email_id" class="control-label"></label>
                <input asp-for="Email_id" class="form-control" />
                <span asp-validation-for="Email_id" class="text-danger"></span>
            </div>
            <div class="button">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
