@{
    ViewData["Title"] = "Home Page";
}

<div class="dmain" >
    <div class="header">
        <h3 >Welcome to Health Care Hospital</h3>
    </div>
    <div class="Plinks">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Register", "User")'">Register</button>

        <button class="btn btn-primary" onclick="location.href='@Url.Action("Login", "User")'">Login</button>
    </div>


   @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
