@{
    ViewData["Title"] = "Home Page";
}

<div class="dmain" >
    <div class="header">
        <h3 >Welcome to Health Care Hospital</h3>
    </div>
    <div class="Plinks">
        <a asp-area="" asp-controller="User" asp-action="Register">Register</a>

        <a asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </div>


   @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
